requests==2.32.3
onnx==1.17.0
onnxruntime==1.20.1
flask==3.1.0
fastapi==0.115.5
torchserve==0.12.0
tensorflow-serving-api==2.18.0
intel-openmp==2024.2.1
intel-extension-for-pytorch==2.3.110.post0+xpu
intel-cpp-python==2024.2.1
torch==2.3.1.post0+cxx11.abi
torchaudio==2.5.1
torchvision==0.18.1.post0+cxx11.abi
scikit-learn==1.6.0rc1
scipy==1.14.1
pandas==2.2.3
matplotlib==3.10.0rc1
h5py==3.12.1
pyyaml==6.0.2
tqdm==4.67.1
uvicorn==0.32.1
tensorboard==2.18.0
tensorboard-data-server==0.7.2
flask==3.1.0
pillow==11.0.0
protobuf==5.29.0